.Footer-Container{
    background-color: #585858;
    height: 10vh;
    bottom: 0;
    margin-top: 10rem;
    display: flex;
}

.Footer-Container>span{
    color: white;
    /* Centering div logic :
    Container needs to be flex
    Child k andar alignSelf center & margin auto auto
    */
    align-self: center;
    margin: auto auto;
}